QListWidget
{
  border: 1px solid %1;
  border-radius: 8px;
  font-size: 28px;
}


QListWidget::item:selected
{
  background-color: %2;
  border: 1px solid %2;
  border-radius: 8px;
  font-size: 28px;
}


QScrollBar
{
    background-color: white;
}

QListWidget QScrollBar:vertical {
  border: 2px solid white;
  width: 20px;
  margin: 0px 0px 0px 0px;
  background-color: white;
  border-radius: 8px;
}


QListWidget QScrollBar::handle:vertical {
  background-color: %2;
  border: 0px solid %2;
  min-height: 0px;
  border-radius: 7px;
}

QListWidget QScrollBar::add-line:vertical {
  height: 0px;
}

QListWidget QScrollBar::sub-line:vertical {
  height: 0px;
}

QListWidget QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background-color: white;
}
